/*
Component: App header
*/
header.app-header {
  font: bold 18px var(--font-family-header);
}

header.app-header .top-navbar {
  display: block;
  padding: 0 var(--padding-body-horizontal);
  height: 32px;
  background-color: var(--color-pink);
}

header.app-header .top-navbar .top-navbar-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  height: 100%;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

header.app-header .top-navbar a {
  color: #fff;
}

header.app-header .main-navbar {
  display: flex;
  align-items: center;
  height: 64px;
  box-shadow: 0 10px 20px rgba(146, 113, 172, 0.25);
  padding: 0 var(--padding-body-horizontal);
}

header.app-header .main-navbar .main-navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

header.app-header a {
  text-decoration: none;
  color: var(--text-color-dark);
  transition: color 200ms;
}

header.app-header .main-navbar .main-navbar-inner nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

header.app-header .main-navbar .main-navbar-inner nav svg + div {
  display: inline-block;
}

header.app-header .main-navbar .main-navbar-inner nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 0;
}

header.app-header .main-navbar .main-navbar-inner nav li {
  list-style: none;
  display: inline-block;
}

header.app-header .main-navbar .main-navbar-inner nav li.current-menu-item a {
  color: var(--color-purple);
}

header.app-header .main-navbar .main-navbar-inner nav li:hover a {
  color: var(--color-pink);
}

header.app-header .main-navbar .main-navbar-inner .right-nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

header.app-header .main-navbar .main-navbar-inner .right-nav svg {
  color: var(--color-pink);
  cursor: pointer;
}


/*
Component: Footer
*/
footer.app-footer {
  background-color: var(--color-purple);
  color: #fff;
  height: 48px;
  padding: 0 var(--padding-body-horizontal);
}

footer.app-footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

footer.app-footer .inner .socials {
  display: flex;
  gap: 16px;
}

footer.app-footer .inner .socials a {
  color: #fff;
}


/*
Component: Button
*/
.button {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.button.primary {
  background-color: var(--color-pink);
  font-weight: 500;
  color: #fff !important;
}

.button.outline.white {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}


/*
Component: Highlight
*/
.highlight {
  position: relative;
}

.highlight::after {
  content: '';
  position: absolute;
  left: -0.2em;
  top: -0.2em;
  width: calc(100% + 0.4em);
  height: calc(100% + 0.4em);
  background-color: var(--color-yellow);
  font-weight: 600;
  z-index: -1;
}



/* Sorry Jesse, ik ga CSSen
    God hebt medelijden met me */
input:not([type=checkbox])
{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 6px;
  padding: 0 12px;
}

select {
  margin-top: 6px;
}

label {
  font-weight: bold;
}

form > p {
  margin-bottom: 20px;
}