/*
Component: App header
*/
header.app-header {
  font: bold 18px var(--font-family-header);
}
header.app-header a {
  text-decoration: none;
  color: var(--text-color-dark);
  transition: color 200ms;
}
header.app-header .top-navbar {
  display: block;
  padding: 0 var(--padding-body-horizontal);
  height: 32px;
  background-color: var(--color-pink);
}
header.app-header .top-navbar .top-navbar-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  height: 100%;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
header.app-header .top-navbar a {
  color: #fff;
}
header.app-header .main-navbar {
  display: flex;
  align-items: center;
  height: 64px;
  box-shadow: 0 10px 20px rgba(146, 113, 172, 0.25);
  padding: 0 var(--padding-body-horizontal);
}
header.app-header .main-navbar .nav-burger, header.app-header .main-navbar .nav-screen {
  display: none;
}
header.app-header .main-navbar .main-navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
header.app-header .main-navbar .main-navbar-inner nav {
  display: flex;
  align-items: center;
  gap: 48px;
}
header.app-header .main-navbar .main-navbar-inner nav svg + div {
  display: inline-block;
}
header.app-header .main-navbar .main-navbar-inner nav svg {
  height: 45px;
  width: auto;
  vertical-align: middle;
}
header.app-header .main-navbar .main-navbar-inner nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 0;
}
header.app-header .main-navbar .main-navbar-inner nav div > ul > li {
  height: 64px;
}
header.app-header .main-navbar .main-navbar-inner nav li {
  list-style: none;
}
header.app-header .main-navbar .main-navbar-inner nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
header.app-header .main-navbar .main-navbar-inner nav li.current-menu-item > a {
  color: var(--color-purple);
}
header.app-header .main-navbar .main-navbar-inner nav li:hover > a {
  color: var(--color-pink);
}
header.app-header .main-navbar .main-navbar-inner nav li.menu-item-has-children {
  position: relative;
}
header.app-header .main-navbar .main-navbar-inner nav li.menu-item-has-children > a::after {
  content: "\f078";
  margin-left: 8px;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
}
header.app-header .main-navbar .main-navbar-inner nav li.menu-item-has-children:hover ul.sub-menu {
  display: block;
}
header.app-header .main-navbar .main-navbar-inner nav li.menu-item-has-children ul.sub-menu {
  --radius-submenu: 6px;
  position: absolute;
  display: none;
  left: 50%;
  top: calc(100% - 8px);
  transform: translateX(-50%);
  list-style: none;
  border-radius: 0;
  z-index: 5;
  box-shadow: 0 5px 20px rgba(146, 113, 172, 0.25);
  border-radius: var(--radius-submenu);
}
header.app-header .main-navbar .main-navbar-inner nav li.menu-item-has-children ul.sub-menu li:first-child a {
  border-radius: var(--radius-submenu) var(--radius-submenu) 0 0;
}
header.app-header .main-navbar .main-navbar-inner nav li.menu-item-has-children ul.sub-menu li:last-child a {
  border-radius: 0 0 var(--radius-submenu) var(--radius-submenu);
}
header.app-header .main-navbar .main-navbar-inner nav li.menu-item-has-children ul.sub-menu a {
  padding: 16px 3rem;
  background-color: #fff;
}
header.app-header .main-navbar .main-navbar-inner nav li.menu-item-has-children ul.sub-menu a:hover {
  background-color: #f7f8fa;
}
header.app-header .main-navbar .main-navbar-inner .right-nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
header.app-header .main-navbar .main-navbar-inner .right-nav svg {
  color: var(--color-pink);
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  header.app-header .main-navbar .main-navbar-inner .right-nav, header.app-header .main-navbar nav a + .menu-fust-app-header-container {
    display: none;
  }
  header.app-header .main-navbar .nav-screen {
    display: block;
  }
  header.app-header .main-navbar .nav-burger {
    display: flex;
  }
  header.app-header .main-navbar .nav-screen {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: var(--color-pink);
    color: #fff;
    padding: 2.5rem;
    z-index: 11;
    transition: left 200ms;
  }
  header.app-header .main-navbar .nav-screen.open {
    left: 0;
  }
  header.app-header .main-navbar .nav-screen .nav-screen-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header.app-header .main-navbar .nav-screen .nav-screen-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 20px;
    gap: 10px;
    border-radius: 999px;
    color: var(--color-pink);
    background-color: #fff;
  }
  header.app-header .main-navbar .nav-screen .nav-screen-search a {
    color: var(--color-pink);
  }
  header.app-header .main-navbar .nav-screen .menu-fust-app-header-container {
    display: block;
    margin-top: 4rem;
  }
  header.app-header .main-navbar .nav-screen .menu-fust-app-header-container ul {
    display: block;
    padding: 0;
    margin: 0;
  }
  header.app-header .main-navbar .nav-screen .menu-fust-app-header-container ul.sub-menu {
    margin: 1rem 0 2rem;
  }
  header.app-header .main-navbar .nav-screen .menu-fust-app-header-container ul.sub-menu a {
    font-size: 24px;
    margin-left: 1rem;
  }
  header.app-header .main-navbar .nav-screen .menu-fust-app-header-container li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  header.app-header .main-navbar .nav-screen .menu-fust-app-header-container li + li {
    margin-top: 1rem;
  }
  header.app-header .main-navbar .nav-screen .menu-fust-app-header-container a {
    color: #fff;
    font-size: 32px;
  }
  header.app-header .main-navbar .nav-screen .button {
    display: block;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    padding: 12px 0;
    font-size: 24px;
    font-weight: 600;
    background-color: #fff;
    color: var(--color-pink) !important;
  }
  header.app-header .main-navbar .nav-screen .nav-screen-socials {
    position: absolute;
    left: 0;
    bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  header.app-header .main-navbar .nav-screen .nav-screen-socials a {
    color: #fff;
    font-size: 24px;
  }
}

/*
Component: News archive
*/
.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 36px;
}
.news-grid-item a {
  text-decoration: none;
  color: var(--text-color-dark);
  transition: color 200ms;
}
.news-grid-item a:hover {
  color: var(--color-pink);
}
.news-grid .thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 12px;
  background: var(--color-yellow);
  color: var(--text-color-dark);
}
.news-grid .thumbnail::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
  border-radius: 12px;
  z-index: 1;
  transition: opacity 200ms;
}
.news-grid .thumbnail:hover::after {
  opacity: 0.2;
}
.news-grid .thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.news-grid .lower {
  margin: 16px 0;
}
.news-grid .lower h3 {
  margin-bottom: 6px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1rem;
}
.news-grid .lower p {
  opacity: 0.7;
}
.news-grid .lower a {
  display: flex;
  justify-content: space-between;
}

/*
Component: Services grid
*/
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 36px;
  min-height: 170px;
}
.services-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: end;
  height: 170px;
  padding: 24px 32px;
  border-radius: 8px;
  border: 3px solid var(--color-yellow);
  border-bottom-width: 6px;
  text-decoration: none;
  transition: height 100ms, border-bottom-width 100ms;
}
.services-grid-item:hover {
  height: 167px;
  border-bottom-width: 3px;
}
.services-grid-item:hover .services-grid-item-lower span {
  color: var(--color-yellow);
}
.services-grid-item-upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.services-grid-item-upper svg:first-child {
  height: 32px;
  width: auto;
  color: var(--color-yellow);
}
.services-grid-item-upper svg:not(:first-child) {
  color: #aaa;
}
.services-grid-item-lower span {
  color: var(--text-color-dark);
  font: bold 22px var(--font-family-header);
  line-height: 140%;
  transition: color 100ms;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*
Component: No access card
*/
.no-access-card {
  display: flex;
  flex-direction: row-reverse;
  margin: 2rem 0;
  padding: 4rem 8rem;
  border-radius: 12px;
  background-color: var(--color-purple);
  color: #fff;
  gap: 4rem;
}
.no-access-card-content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.no-access-card-content-wrapper * + * {
  margin-top: 1rem;
}
.no-access-card img {
  width: 300px;
}

@media screen and (max-width: 1300px) {
  .no-access-card {
    padding: 4rem;
  }
}
@media screen and (max-width: 900px) {
  .no-access-card img {
    width: 250px;
  }
}
@media screen and (max-width: 750px) {
  .no-access-card {
    flex-direction: column;
    padding: 3rem;
  }
  .no-access-card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*
Component: Footer
*/
footer.app-footer {
  background-color: var(--color-purple);
  color: #fff;
  height: 48px;
  padding: 0 var(--padding-body-horizontal);
}
footer.app-footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
footer.app-footer .inner .socials {
  display: flex;
  gap: 16px;
}
footer.app-footer .inner .socials a {
  color: #fff;
}

/*
Component: Button
*/
.button {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 1000px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
.button.primary {
  background-color: var(--color-pink);
  color: #fff !important;
  transition: background-color 200ms;
}
.button.primary:hover {
  background-color: var(--color-pink-light);
}
.button.outline.white {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  color: #fff;
  transition: background-color 200ms, color 200ms, font-weight 200ms;
}
.button.outline.white:hover {
  background-color: rgb(255, 255, 255);
  color: var(--color-pink);
  font-weight: 700;
}

input.button {
  border: none !important;
}

/*
Component: Highlight
*/
.highlight {
  position: relative;
}
.highlight::after {
  content: "";
  position: absolute;
  left: -0.2em;
  top: -0.2em;
  width: calc(100% + 0.4em);
  height: calc(100% + 0.4em);
  background-color: var(--color-yellow);
  font-weight: 600;
  z-index: -1;
}

/*
Component: Calendar
*/
.activity-overview {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.activity-overview .activity-list {
  flex: 1;
}

.container-wrapper {
  background-color: var(--color-purple);
  border-radius: 12px;
  color: white;
}
.container-wrapper + .container-wrapper {
  margin-top: 1rem;
}

.calendar {
  position: sticky;
  top: 1rem;
  margin: 0;
  color: #fff;
  border-radius: 6px;
  background-color: var(--color-pink);
  z-index: 1;
}
.calendar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  z-index: 0;
}
.calendar > * {
  position: relative;
  z-index: 1;
}
.calendar .action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem 0.5rem;
}
.calendar .action-bar .calendar-label {
  font: bold 18px var(--font-family-header);
}
.calendar .action-bar .prev, .calendar .action-bar .next {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--color-purple);
  border-radius: 100px;
  cursor: pointer;
}
.calendar .action-bar .next {
  margin-left: 4px;
}
.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  padding: 1rem 2rem;
  text-transform: uppercase;
  opacity: 0.7;
  font-weight: bold;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  padding: 0 2rem 2rem;
}
.calendar-grid > div {
  position: relative;
  transition: all 300ms ease;
  padding: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.calendar-grid > div span {
  position: relative;
  z-index: 2;
}
.calendar-grid > div.other-month {
  opacity: 0.4;
}
.calendar-grid > div .activity-indicators {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 4px;
  z-index: 3;
}
.calendar-grid > div .activity-indicators > * {
  width: 4px;
  height: 4px;
  background-color: var(--color-purple);
  border-radius: 100px;
  transition: background-color 200ms ease;
}
.calendar-grid > div.selected .activity-indicators > * {
  background-color: #fff;
}
.calendar-grid > div.today::before {
  content: "";
  --size-offset: 0px;
  position: absolute;
  left: var(--size-offset);
  right: var(--size-offset);
  top: var(--size-offset);
  bottom: var(--size-offset);
  border-radius: 6px;
  background-color: var(--color-purple);
  z-index: 2;
  opacity: 1;
}
.calendar-grid > div::after {
  content: "";
  --size-offset: 0px;
  position: absolute;
  left: var(--size-offset);
  right: var(--size-offset);
  top: var(--size-offset);
  bottom: var(--size-offset);
  border-radius: 6px;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  transition: opacity 200ms ease, background-color 200ms ease;
}
.calendar-grid > div.selected::after {
  opacity: 0.2;
}
.calendar-grid > div.today::after {
  border-radius: 6px;
}

@media only screen and (max-width: 500px) {
  .calendar {
    width: 100%;
  }
  .calendar .calendar-grid > div {
    height: 45px;
  }
  .calendar .calendar-grid > div.active::after {
    height: 3px;
    bottom: 4px;
  }
  .calendar-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar {
    padding: 1rem 2rem;
  }
}/*# sourceMappingURL=components.css.map */