*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-pink: #C67DFF;
  --color-pink-light: #cd8ffd;
  --color-purple: #7958B3;
  --color-yellow: #FFBD59;
  --text-color-dark: #1E1E1E;
  --text-color-body: rgba(30, 30, 30, 0.8);
  --font-family-header: 'League Spartan', sans-serif;
  --padding-body-horizontal: 64px;
}

h1,
h2,
h3,
h4 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  margin: 0;
}

p {
  line-height: 1.4;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: var(--text-color-dark);

  &.overflow-hidden {
    overflow: hidden;
  }
}

input, textarea {
  font-family: 'Lato', sans-serif;
  color: var(--text-color-dark);
}

article {
  color: var(--text-color-body);
  margin-top: 20px;
  
  p {
    line-height: 1.75;
    margin-bottom: 8px;
  }
}

.abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Text */
.title {
  font-size: 48px;
}

.section-title {
  font-size: 36px;
}

.subtitle {
  font-size: 1.2rem;
}


/* Sections */
section {
  position: relative;
  padding: 4rem var(--padding-body-horizontal);
}

section.centered {
  text-align: center;
}

section.reduced-top-space {
  padding-top: 3rem;
}

section .section-content {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

section h1.section-title {
  margin-bottom: 0.6em;
}


/* Page layout (keeps footer stuck to bottom) */
.body-inner {
  min-height: calc(100vh - 48px); // Subtract footer height
}

/* Plugin components */
.grecaptcha-badge {
  visibility: hidden;
}


/* Media queries */
@media screen and (max-width: 1000px) {
  :root {
    --padding-body-horizontal: 48px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --padding-body-horizontal: 40px;
  }
}